/************************/
/*****  NAVIGATION  *****/
/************************/

.main-sidebar, .main-sidebar:before {
        width: 300px;
}

@media (min-width: 576px) {
.content-wrapper, .main-footer, .main-header {
        margin-left: 300px;
  }
}

@media (max-width:767.98px) {
  .main-sidebar,
	.main-sidebar:before {
		margin-left: -300px;
	}
}

.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar:before {
	margin-left: -300px;
}

@media (min-width:768px) {
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover,
	.sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused {
		width: 300px;
	}
}

.layout-navbar-fixed.sidebar-collapse .main-sidebar:hover .brand-link {
	width: 300px;
}

.layout-navbar-fixed .brand-link {
	width: 300px
}

@media (min-width:992px) {
	.sidebar-mini.sidebar-collapse .main-sidebar:hover,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused {
		width: 300px;
	}
}

nav.main-header {
    background-color: #343a40 !important;
}

.nav-link .fa {
    color: white;
}

.bg-primary, .label-primary {
    background-color: #27aae1 !important;
}

a.bg-primary:hover,
a.label-primary:hover,
a.bg-primary:focus,
a.label-primary:focus,
button.bg-primary:hover,
button.label-primary:hover,
button.bg-primary:focus,
button.label-primary:focus {
	background-color: #1c7da6 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #fff;
    background-color: #27aae1 !important;
}

.main-sidebar .brand-link,  .main-sidebar .brand-link:hover {
    background-color: #13181e !important;
}

.nav_league a {
    padding: 0 20px;
    margin: -8px 0;
    height: 56px;
    display: inline-block;
    transition: linear 0.33s;
}

#nav_mls a, .nav_league a:hover {
    background-color: #13181e;
    border-bottom: 2pt solid #27aae1;
}

.nav_league a img {
    margin-top: 11px;
    opacity: 0.65;
    transition: linear 0.33s;
}

#nav_mls a img, .nav_league a:hover img {
    opacity: 1;
}

.nav_league {
    float: left;
}

.form-group {
    margin-bottom: 0.5rem;
}

#asa_controlbar h4 {
    margin-bottom: 15px;
}

#asa_body {
    padding-bottom: 15px;
}


/************************/
/*******  GENERAL  ******/
/************************/

.card, .card-box {
     margin-top: 0.5rem !important;
     margin-bottom: 0.5rem !important;
     border-radius: 0 !important;
     box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2) !important;
}

body {
     font-family: proxima-nova, sans-serif;
     font-size: 0.95rem;
}

.brand-link {
     padding: 0.85rem 0.5rem;
     font-size: 1.2rem;
}

.card-title {
     font-size: 1.2rem;
     font-weight: 600;
}


/************************/
/*******  LOADER  *******/
/************************/

#loader_page {
    background-color: darkgrey;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}

.lds-ripple {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ripple div {
    position: absolute;
    border: 4px solid white;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.lds-ripple p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 100%;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


/************************/
/*******  PLAYERS  ******/
/************************/

.players_dropdown_wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    border: 1pt #ededed solid;
    display: inline-block;
    margin-right: 10px;
}

.players_dropdown_img {
    display: inline;
    margin: 0 auto;
    margin-left: 15%;
    height: 105%;
    width: auto;
}

.players_dropdown_txt {
     position: relative;
     bottom: 14px;
     display: inline-block;
}

.profile_player_headshot {
    width: 190px;
    height: 190px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    float: left;
    bottom: 10px;
}

.profile_player_headshot img {
    display: inline;
    margin: 0 auto;
    margin-left: 10%;
    height: 105%;
    width: auto;
}

.profile_player_background {
    background-image: url(asa_player_profile_background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    margin: -20px;
    padding: 10px 35px 0 35px;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile_player_demographics {
    float: left;
    padding-top: 50px;
    color: white;
}

#player_profile_basic_info .card-header {
     padding: 0;
}

.profile_player_demographics h3, .profile_player_demographics p {
     margin-bottom: 0;
}

.profile_player_demographics h3 {
    font-size: 2.75rem;
}

.profile_player_demographics p {
    font-size: 1.25rem;
    line-height: 1.65rem;
}

div.card-body {
    max-height: 2000px !important;
}

h3.card_header {
    font-size: 24px;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

.nav-pills {
    margin-bottom: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #27aae1;
}

.nav-pills .nav-link:not(.active):hover {
    color: #27aae1;
}


@media (max-width: 991px) {
	.profile_player_headshot {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background-color: white;
        border: 2pt #ededed solid;
        display: block;
        margin: auto;
        top: 30px;
        float: none;
    }

    .profile_player_background {
        background-size: 100% 200px;
        background-image: url(asa_player_profile_background.png);
        background-attachment: scroll;
        margin: -20px -20px 0 -20px;
    }

    .profile_player_headshot img {
        margin-left: 13%;
    }

    .profile_player_demographics {
        padding-top: 55px;
        color: black;
        text-align: center;
        float: none;
        margin-bottom: 10px;
    }

    .profile_player_demographics h3 {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    .profile_player_demographics p {
        font-size: 1.1rem;
    }
}


@media (max-width: 475px) {
    .profile_player_demographics h3 {
        font-size: 2rem;
        line-height: 2.25rem;
        margin-bottom: 15px;
    }

    .profile_player_demographics p {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-bottom: 10px;
    }
}
