.main-sidebar, .main-sidebar:before {
        width: 300px;
}

@media (min-width: 576px) {
.content-wrapper, .main-footer, .main-header {
        margin-left: 300px;
  }
}

@media (max-width:767.98px) {
  .main-sidebar,
	.main-sidebar:before {
		margin-left: -300px;
	}
}

.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar:before {
	margin-left: -300px;
}

@media (min-width:768px) {
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover,
	.sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused {
		width: 300px;
	}
}

.layout-navbar-fixed.sidebar-collapse .main-sidebar:hover .brand-link {
	width: 300px;
}

.layout-navbar-fixed .brand-link {
	width: 300px
}

@media (min-width:992px) {
	.sidebar-mini.sidebar-collapse .main-sidebar:hover,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused {
		width: 300px;
	}
}

nav.main-header {
  background-color: #343a40 !important;
}

.nav-link .fa {
  color: white;
}

.bg-primary, .label-primary {
    background-color: #27aae1 !important;
}

a.bg-primary:hover,
a.label-primary:hover,
a.bg-primary:focus,
a.label-primary:focus,
button.bg-primary:hover,
button.label-primary:hover,
button.bg-primary:focus,
button.label-primary:focus {
	background-color: #1c7da6 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #fff;
    background-color: #27aae1 !important;
}

.main-sidebar .brand-link,  .main-sidebar .brand-link:hover {
     background-color: #13181e !important;
}

.nav_league a {
     padding: 0 20px;
     margin: -8px 0;
     height: 56px;
     display: inline-block;
     transition: linear 0.33s;
}

#nav_mls a, .nav_league a:hover {
     background-color: #13181e;
     border-bottom: 2pt solid #27aae1;
}

.nav_league a img {
     margin-top: 11px;
     opacity: 0.65;
     transition: linear 0.33s;
}

#nav_mls a img, .nav_league a:hover img {
     opacity: 1;
}

.nav_league {
     float: left;
}

.card, .card-box {
     margin-top: 0.5rem !important;
     border-radius: 0 !important;
     box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2) !important;
}

body {
     font-family: proxima-nova, sans-serif;
     font-size: 0.95rem;
}

.brand-link {
     padding: 0.85rem 0.5rem;
     font-size: 1.2rem;
}

.card-title {
     font-size: 1.2rem;
     font-weight: 600;
}

.players_dropdown_wrapper {
     width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    border: 1pt #ededed solid;
    display: inline-block;
    margin-right: 10px;
}

.players_dropdown_img {
     display: inline;
  margin: 0 auto;
  margin-left: 15%;
  height: 105%;
  width: auto;
}

.players_dropdown_txt {
     position: relative;
     bottom: 14px;
     display: inline-block;
}

.profile_player_headshot {
    width: 175px;
    height: 175px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    border: 2pt #ededed solid;
    display: inline-block;
    margin-right: 30px;
    float: left;
    top: 30px;
}

.profile_player_headshot img {
    display: inline;
    margin: 0 auto;
    margin-left: 13%;
    height: 105%;
    width: auto;
}

.profile_player_background {
    background-image: url(asa_player_profile_background.png);
    height: 185px;
    margin: -20px;
    padding: 10px 35px;
    overflow: visible;
    background-size: 100%;
}

.profile_player_demographics {
    float: left;
    padding-top: 65px;
    color: white;
}

#player_profile_basic_info .card-header {
     padding: 0;
}

.profile_player_demographics h3, .profile_player_demographics p {
     margin-bottom: 0;
}

.profile_player_demographics h3 {
    font-size: 2rem;
}

.profile_player_demographics p {
    font-size: 1rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

#asa_controlbar h4 {
     margin-bottom: 15px;
}