/************************/
/*****  NAVIGATION  *****/
/************************/

.main-sidebar, .main-sidebar:before {
        width: 300px;
}

@media (min-width: 576px) {
.content-wrapper, .main-footer, .main-header {
        margin-left: 300px;
  }
}

@media (max-width:767.98px) {
  .main-sidebar,
	.main-sidebar:before {
		margin-left: -300px;
	}
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link {
        width: 300px;
    }
}

.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar:before {
	margin-left: -300px;
}

@media (min-width:768px) {
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover,
	.sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused {
		width: 300px;
	}
}

.layout-navbar-fixed.sidebar-collapse .main-sidebar:hover .brand-link {
	width: 300px;
}

.layout-navbar-fixed .brand-link {
	width: 300px
}

@media (min-width:992px) {
	.sidebar-mini.sidebar-collapse .main-sidebar:hover,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused {
		width: 300px;
	}
}

nav.main-header {
    background-color: #343a40 !important;
}

.nav-link .fa {
    color: white;
}

.bg-primary, .label-primary {
    background-color: #27aae1 !important;
}

a.bg-primary:hover,
a.label-primary:hover,
a.bg-primary:focus,
a.label-primary:focus,
button.bg-primary:hover,
button.label-primary:hover,
button.bg-primary:focus,
button.label-primary:focus {
	background-color: #1c7da6 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #fff;
    background-color: #27aae1 !important;
}

.main-sidebar .brand-link,  .main-sidebar .brand-link:hover {
    background-color: #13181e !important;
}

.nav_league {
    position: relative;
    display: inline-block;
}

.coming_soon_tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.coming_soon_tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #343a40 transparent;
}

#nav_nwsl:hover .coming_soon_tooltip {
    visibility: visible;
    opacity: 1;
}

.nav_league a {
    padding: 0 20px;
    margin: -8px 0;
    height: 56px;
    display: inline-block;
    transition: linear 0.33s;
}

.nav_league_active a, .nav_league a:hover {
    background-color: #13181e;
    border-bottom: 2pt solid #27aae1;
}

.nav_league a img {
    margin-top: 11px;
    opacity: 0.65;
    transition: linear 0.33s;
}

.nav_league_active a img, .nav_league a:hover img {
    opacity: 1;
}

.nav_league {
    float: left;
}

.form-group {
    margin-bottom: 0.5rem;
}

#asa_controlbar h4 {
    margin-bottom: 0;
}

#asa_body {
    padding-bottom: 15px;
    min-height: 1000px !important;
}


/************************/
/*******  GENERAL  ******/
/************************/

.card, .card-box {
     margin-bottom: 0.5rem !important;
     border-radius: 0 !important;
     box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2) !important;
}

.card-header.no-border {
    border-bottom: none !important;
}

.content-wrapper {
    padding-top: 1rem;
}

body {
     font-family: proxima-nova, sans-serif;
     font-size: 0.95rem;
}

.brand-link {
     padding: 0.85rem 0.5rem;
     font-size: 1.2rem;
}

.card-title {
     font-size: 1.2rem;
     font-weight: 600;
}

.card-header {
    padding: 0 !important;
}

::selection {
    background: #27aae1;
    color: white;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/**
::-webkit-scrollbar {
  display: none;
}
**/

#home_wrapper .jumbotron {
    background-image: url(asa_header_background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home_wrapper .jumbotron a.btn {
    visibility: hidden;
    height: 0;
    padding: 0;
}

#home_wrapper .card-header {
    padding: 1.75rem 1.75rem 0.25rem 1.75rem !important;
}

#home_wrapper .card-header h3 {
    font-size: 24px !important;
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading h3 {
    font-size: 1.35rem;
    margin-bottom: 0;
}

.panel-heading h3 .glyphicon {
    font-size: 1rem;
    margin-right: 10px;
}

.panel-info .panel-heading {
    border-bottom: 1px solid #bce8f1;
}

.panel-body {
    padding: 15px;
}

.panel-group .panel+.panel {
    margin-top: 5px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-info {
    border: 1px solid #bce8f1;
}

.panel {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


/************************/
/*******  LOADER  *******/
/************************/

#loader_page {
    background-color: darkgrey;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}

.lds-ripple {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ripple div {
    position: absolute;
    border: 4px solid white;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.lds-ripple p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 100%;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


/************************/
/*******  TABLES  *******/
/************************/

#tables_subheader input {
    visibility: hidden;
    width: 0;
}

#tables_subheader .btn-default {
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-radius: 0px;
    padding: 1.1rem 30px 1.1rem 28px;
    position: relative;
    transition: all .2s ease-in-out;
}

#tables_subheader .btn-default:before {
    content: "";
    width: 100%;
    background: #27aae1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s;
    display: block;
    z-index: -1;
    height: 0;
}

#tables_subheader .btn-default.active, #tables_subheader .btn-default:hover {
    font-weight: bold;
}

#tables_subheader .btn-default.active:before, #tables_subheader .btn-default:hover:before {
    height: 4px;
    background: #27aae1;
}

#tables_subheader .card-body {
    padding: 0;
}

#tables_subheader .form-group, #tables_subheader .shiny-bound-input {
    margin-bottom: 0 !important;
}

#tables_subheader .btn-group {
    display: -webkit-box;
}

#asa_controlbar .shiny-input-container {
    margin-bottom: 0;
}

#asa_controlbar .control-label {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.4rem !important;
}

#asa_controlbar .input-daterange .input-group-addon {
    padding: 8px 15px !important;
}

#asa_controlbar button.action-button {
    color: white;
    font-weight: bold;
    background-color: #27aae1;
    border-color: #307b9c;
    margin-top: 25px;
}

#asa_controlbar button.action-button:hover {
    background-color: #2f8db5;
}

#asa_controlbar .irs-line {
    background: #EEE;
    border: none;
}

#asa_controlbar .irs-slider {
    top: 20px;
    width: 18px;
    height: 18px;
    box-shadow: none;
    background: #27aae1;
    border: none;
}

#asa_controlbar .irs-slider:hover {
    border: none;
    box-shadow: 0 0 0 3pt rgba(39, 170, 225, 0.5);
    background: #27aae1;
}

#asa_controlbar .irs-bar, #asa_controlbar .irs-bar-edge {
    border: none;
    background: #27aae1;
}

#asa_controlbar .irs-min, #asa_controlbar .irs-max {
    background: transparent;
    top: 4px;
    font-size: 11px;
}

#asa_controlbar .irs-from, #asa_controlbar .irs-to, #asa_controlbar .irs-single {
    background: transparent;
    color: #27aae1;
    font-weight: bold;
    font-size: 13px;
    padding: 1px 2px;
}

div.datatable_wrapper, div.datatable_wrapper table {
    width: 100% !important;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 40px !important;
}

div.datatable_wrapper {
    margin-bottom: 45px;
}

.dataTables_filter {
    position: absolute;
    margin-top: -55px;
    right: 20px;
    height: 0;
}

.dataTables_filter input {
    height: 38px;
}

div.dataTables_paginate {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.dataTables_wrapper .btn-group {
    margin-bottom: 0.5em;
    position: absolute;
    margin-top: -55px;
    left: 20px;
}

.dataTables_wrapper .btn-group button {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}

.dataTables_wrapper .btn-group button:hover {
    background-color: #e9ecef;
    color: #2b2b2b;
}

.dataTables_paginate .page-link {
    color: #27aae1;
}

.dataTables_paginate .page-item.active .page-link {
    background-color: #27aae1;
    border-color: #27aae1;
}

.dataTables_wrapper .dataTables_info {
    position: absolute;
    bottom: 25px;
    left: 20px;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.75em !important;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    box-shadow: none !important;
}

.btn {
    box-shadow: none !important;
}

.tables_helper_tooltip {
  visibility: hidden;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15;
  width: 175px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
}

.tables_helper_tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #343a40 transparent;
}

.tables_helper_icon {
    color: #dee2e6;
    display: inline;
    font-size: 0.7rem;
    padding-left: 5px;
    transition: linear 0.33s;
}

th:hover .tables_helper_icon {
    color: inherit;
}

th:hover .tables_helper_tooltip {
    visibility: visible;
    opacity: 1;
}

.shiny-input-checkboxgroup label ~ .shiny-options-group, .shiny-input-radiogroup label ~ .shiny-options-group {
    margin-top: 0 !important;
}

.shiny-options-group .radio label {
    margin-bottom: 0 !important;
    font-weight: normal !important;
}

@media screen and (max-width: 767px) {
    .datatable_wrapper div.dt-buttons {
        visibility: hidden;
        height: 0;
        margin-bottom: 0 !important;
    }

    div.dataTables_wrapper div.dataTables_info {
        visibility: hidden;
        height: 0;
        padding-top: 0 !important;
    }

    div.dataTables_paginate .pagination {
        display: -webkit-inline-box;
    }

    .dataTables_filter {
        height: auto;
        width: 100%;
        right: unset;
    }

    .dataTables_filter label {
        width: 100%;
    }

    .dataTables_filter label input {
        width: 65% !important;
    }

    .header_background {
        padding: 10px 25px 0 25px;
    }
}


/************************/
/*******  PLAYERS  ******/
/************************/

.players_dropdown_wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    border: 1pt #ededed solid;
    display: inline-block;
    margin-right: 10px;
}

.players_dropdown_img {
    display: inline;
    margin: 0 auto;
    margin-left: 15%;
    height: 105%;
    width: auto;
}

.players_dropdown_txt {
     position: relative;
     bottom: 14px;
     display: inline-block;
}

.profile_player_headshot {
    width: 190px;
    height: 190px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    float: left;
    bottom: 10px;
}

.profile_player_headshot img {
    display: inline;
    margin: 0 auto;
    margin-left: 10%;
    height: 105%;
    width: auto;
}

.header_background {
    background-image: url(asa_header_background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    margin: -20px;
    padding: 10px 35px 0 35px;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tables_header h2 {
    color: white;
    font-weight: bold;
    font-size: 55px;
    margin: 35px 0;
}

.profile_player_demographics {
    float: left;
    padding-top: 50px;
    color: white;
}

#player_profile_basic_info .card-header {
     padding: 0;
}

.profile_player_demographics h3, .profile_player_demographics p {
     margin-bottom: 0;
}

.profile_player_demographics h3 {
    font-size: 2.75rem;
}

.profile_player_demographics p {
    font-size: 1.25rem;
    line-height: 1.65rem;
}

div.card-body {
    max-height: none !important;
}

h3.card_header {
    font-size: 24px;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

.nav-pills {
    margin-bottom: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #27aae1;
}

.nav-pills .nav-link:not(.active):hover {
    color: #27aae1;
}


@media (max-width: 991px) {
	.profile_player_headshot {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background-color: white;
        border: 2pt #ededed solid;
        display: block;
        margin: auto;
        top: 30px;
        float: none;
    }

    .profile_player_headshot img {
        margin-left: 13%;
    }

    .profile_player_demographics {
        padding-top: 55px;
        color: black;
        text-align: center;
        float: none;
        margin-bottom: 10px;
    }

    .profile_player_demographics h3 {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    .profile_player_demographics p {
        font-size: 1.1rem;
    }
}


@media (max-width: 475px) {
    .profile_player_demographics h3 {
        font-size: 2rem;
        line-height: 2.25rem;
        margin-bottom: 15px;
    }

    .profile_player_demographics p {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-bottom: 10px;
    }
}


/************************/
/******  LANDING  *******/
/************************/


.landing_wrapper {
    background-color: #13181e;
}

.landing_wrapper a {
    float: left;
    opacity: 0.5;
}

.landing_wrapper a:hover {
    opacity: 1;
    transition: linear 0.33s;
}

.landing_wrapper a:hover .landing_button {
    background-color: #27aae1;
}

.landing_button {
    height: 150px;
    width: 150px;
    border-radius: 7px;
    border: 1.5pt solid white;
    margin: 30px;
    position: inline;
    vertical-align: middle;
}

.landing_button img {
    height: 100px;
    position: relative;
    top: 17%;
}

.landing_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width:855px) {
	.landing_center {
	    max-width: 214px;
	}
}

